<?php echo $this->doctype(); ?>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/graduands/public/images/oum.png">

    <?php
    $layout = $this->layout();
    $layout->disableLayout();

    $this->headLink()
        ->appendStylesheet('/graduands/public/css/bootstrap.css')
        ->appendStylesheet('/graduands/public/css/bootstrap-theme.css')
        ->appendStylesheet('/graduands/public/css/jumbotron-narrow.css')
        ->appendStylesheet('/graduands/public/plugins/bootstrapValidator/css/bootstrapValidator.min.css')
        ->appendStylesheet('/graduands/public/css/customs.css');
    $this->headTitle($this->title);
    echo $this->headLink() . "\n" . $this->headTitle() . "\n";


    ?>
</head>
<div class="panel panel-success">
    <div class="panel-body">
        <div class="container">
            <div>
                <img src="/graduands/public/images/oumlogo.png">
            </div>
            <div align="right">

                <b><? if( sizeof($this->details) > 0) {  echo $this->serialno; } ?></b>
            </div>
            <?php
         if (!empty($this->details)): ?>
            <dl class="dl-horizontal">
                <?php
                $i = 0;
                foreach ($this->details as $details):
                    $i++;
                    ?>
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <dt>NAMA</dt>
                            <dd><?php echo $details["STUD_NAME"]; ?></dd>
                            <dt>PROGRAM</dt>
                            <dd><?php echo $details["DEGREE_BM"]; ?></dd>

                            <?php if ($details["CL_ACADEMICSTATUS"] != null){ ?>
                                <dt>STATUS AKADEMIK</dt>
                                <dd><?php echo strtoupper($details["CL_ACADEMICSTATUS"]); ?></dd>
                            <?} ?>

                            <dt>TARIKH SENAT</dt>
                            <dd><?php echo strtoupper($details["SENATE_DATE_BM"]); ?></dd>
                        </div>
                    </div>
                    <hr class="colorgraph">

                    <div class="panel panel-default">
                        <div class="panel-body">
                            <dt>FULL NAME</dt>
                            <dd><?php echo $details["STUD_NAME"]; ?></dd>
                            <dt>DEGREE</dt>
                            <dd><?php echo $details["DEGREE_BI"]; ?></dd>

                            <?php if ($details["CL_ACADEMICSTATUS_ENG"] != null){ ?>
                                <dt>ACADEMIC STATUS</dt>
                                <dd><?php echo strtoupper($details["CL_ACADEMICSTATUS_ENG"]); ?></dd>
                            <?} ?>

                            <dt>SENATE DATE</dt>
                            <dd><?php echo strtoupper($details["SENATE_DATE_BI"]); ?></dd>
                        </div>
                    </div>
                    <hr class="colorgraph">
                <?php endforeach; ?>
            </dl>
        <?php endif; ?>
        <?php if ($i == 0) { ?>
            <div class="alert alert-danger alert-dismissible" role="alert">
                <strong>Tiada rekod. Sila <a href="/graduands/">klik disini</a> untuk semakan.</strong>
            </div>
            <hr class="colorgraph">
            <div class="alert alert-danger alert-dismissible" role="alert">
                <strong>No record. Please <a href="/graduands/">click here</a> to check.</strong>
            </div>
            <hr class="colorgraph">
        <?php } ?>
            <div class="footer">
                <p>&copy; OUM 2014 - <?php echo date('Y') ?>, All Rights Reserved</p>
            </div>
    </div>

</div>
</div>

</html>