<div class="page-header">
    <h1 class="text-primary">PLEASE ENTER <small>Your Details</small></h1>
</div>
<div class="panel panel-primary">
    <div class="panel-body">
        <form id="searchForm" class="form-horizontal" role="form" method="POST" action="/graduands/index/result">
            <div class="form-group">
                <label class="control-label col-md-4">I.C Number</label>
                <div class="col-md-5">
                    <input type="text" class="form-control input-sm" id="icNum" name="icNum" />
                    <p class="help-block text-warning"><em>ex : 560315685293</em></p>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-4">Full Name</label>
                <div class="col-md-5">
                    <input type="text" class="form-control input-sm text-uppercase" id="fullName" name="fullName" />
                    <p class="help-block text-warning"><em>ex : JOHN DOE</em></p>
                </div>
            </div>
            <div class="btn-group pull-right">
                <button id="search" type="submit" class="btn btn-success btn-sm"><span class="glyphicon glyphicon-send"></span> SUBMIT</button>
            </div>
        </form>
    </div>
</div>

<!--<div>
    <dl class="dl-horizontal">  
        <?php
        $i = 0;
        foreach ($this->getAll as $get) :
            ?>
            <dt>No</dt>
            <dd><?php echo ++$i; ?></dd>  
            <dt>FULL NAME</dt>
            <dd><?php echo $get["SG_STUD_NAME"]; ?></dd>
            <dt>IC</dt>
            <dd><?php echo $get["SG_STUD_IC"]; ?></dd>
            <hr/>
        <?php endforeach; ?>
    </dl>
</div>-->
