

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">PLEASE ENTER YOUR DETAIL</h3>
    </div>
    <div class="panel-body">
        <form id="searchForm" class="form-horizontal" role="form" method="POST" action="/graduands/index/result">
            <div class="form-group">
                <label class="control-label col-md-4">I.C Number</label>
                <div class="col-lg-6">
                    <div class="input-group">
                        <input type="text" class="form-control input-sm" id="icNum" name="icNum""/>
                    <span class="input-group-btn">
                        <button id="search" type="submit" class="btn btn-sm btn-success" type="button"><span
                                class="glyphicon glyphicon-search"></span> Search
                        </button>
                    </span>
                    </div>
                    <p class="help-block text-warning"><em>ex : 560315685293</em></p>
                </div>
            </div>
        </form>
    </div>
</div>
