<div class="page-header">
    <h1 class="text-success">Searching Result For : <small><?php echo $this->fullname; ?> <?php echo $this->icNum; ?></small></h1>
</div>
<div class="panel panel-success">
    <div class="panel-body">
        <?php if (!empty($this->details)): ?>
            <dl class="dl-horizontal">  
                <?php
                $i = 0;
                foreach ($this->details as $details):
                    ?>
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <dt>NO</dt>
                            <dd><?php echo ++$i; ?></dd>  
                            <dt>FULL NAME</dt>
                            <dd><?php echo $details["SG_STUD_NAME"]; ?></dd>
                            <dt>PROGRAMME</dt>
                            <dd><?php echo $details["SG_DEGREE"]; ?></dd>
                            <dt>INTAKE</dt>
                            <dd><?php echo $details["SG_INTAKE_YEAR"]; ?></dd>
                            <dt>YEAR OF GRADUATION</dt>
                            <dd><?php echo $details["SG_GRAD_YEAR"]; ?></dd>
                        </div>
                    </div>
                    <hr class="colorgraph">
                <?php endforeach; ?>
            </dl>
        <?php endif; ?>
        <?php if ($i == 0) { ?>
            <div class="alert alert-danger alert-dismissible" role="alert">
                <a href="/graduands/" type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></a>
                <strong>No Record!</strong> Change a few things up and try searching again.
            </div>
        <?php } ?>
        <div class="btn pull-right">
            <a href="http://www.oum.edu.my" class="btn btn-danger btn-sm" role="button"><span class="glyphicon glyphicon-remove"></span> CLOSE</a>
            <a href="/graduands/" class="btn btn-warning btn-sm" role="button"><span class="glyphicon glyphicon-search"></span> CONTINUE SEARCH</a>
        </div>
    </div>
</div>