<?php echo $this->doctype(); ?>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/graduands/public/images/oum.png">

    <?php
    $layout = $this->layout();
    $layout->disableLayout();

    $this->headLink()
        ->appendStylesheet('/graduands/public/css/bootstrap.css')
        ->appendStylesheet('/graduands/public/css/bootstrap-theme.css')
        ->appendStylesheet('/graduands/public/css/jumbotron-narrow.css')
        ->appendStylesheet('/graduands/public/plugins/bootstrapValidator/css/bootstrapValidator.min.css')
        ->appendStylesheet('/graduands/public/css/customs.css');
    $this->headTitle($this->title);


    echo $this->headLink() . "\n" . $this->headTitle() . "\n";



    ?>
</head>
</html>

<div class="container-fluid">
    <div class="panel panel-primary">
        <div>
            <img src="/graduands/public/images/oumlogo.png">
        </div>

        <!--<div id="msg" align="center"><span style="color: #761c19;background: #ce8483;"><b>Sorry. You are not Authorize to access this page.</b></span></div>-->
        <div align="center">
            <img src="/graduands/public/images/unauth2.jpg"  height="400px">
        </div>

</div>
</div>
<?php
$this->headScript()
    ->appendFile('/graduands/public/js/jquery-1.10.2.js')
    ->appendFile('/graduands/public/js/bootstrap.min.js')
    ->appendFile('/graduands/public/plugins/bootstrapValidator/js/bootstrapValidator.min.js');
echo $this->headScript();
?>
</html>




<!--<label class="control-label col-md-4">Push button to update QR link</label>-->

