
<br>
<form method="POST" id="frm_update" name="frm_update" action="">

    <?php foreach($this->getInfo as $data){ ?>
    <div class="form-group row">
        <div class="col-sm-1"></div>
        <label class="col-sm-2 col-form-label">Student IC No</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" id="e_studName" name="e_studName" value="<? echo $data["STUD_NAME"] ?>" readonly>
        </div>
        <div class="col-sm-1"></div>
    </div>
        <div class="form-group row">
            <div class="col-sm-1"></div>
            <label class="col-sm-2 col-form-label">Student ID</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" id="e_studId" name="e_studId"  value="<? echo $data["STUD_ID"] ?>" readonly>
            </div>
            <div class="col-sm-1"></div>
        </div>
        <div class="form-group row">
            <div class="col-sm-1"></div>
            <label class="col-sm-2 col-form-label">IC Number</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" id="e_studIc" name="e_studIc" value="<? echo $data["STUD_IC_CUR"] ?>" readonly>
            </div>
            <div class="col-sm-1"></div>
        </div>

        <div class="form-group row">
            <div class="col-sm-1"></div>
            <label class="col-sm-2 col-form-label">Serial Number</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" id="e_snNo" name = "e_snNo" value="<? echo $data["CL_SCROLL_SERIAL"] ?>" readonly>
            </div>
            <div class="col-sm-1"></div>
        </div>
        <input type="hidden" class="form-control" id="e_cl_id" name="e_cl_id" value="<? echo $data["CL_ID"] ?>" readonly>
    <? $studId = $data["STUD_ID"];
    $serial_no = $data["CL_SCROLL_SERIAL"];
    }?>

    <div class="form-group row">

        <div class="col-sm-3"></div>

        <div class="col-sm-8">
            <a class="btn btn-primary"
               href="/graduands/qr-management/gen-serial-update/cl_id/<?php echo $this->cl_id; ?>" onclick="return validateUpdateSn(<?php $this->cl_id; ?>);">Re-Generate Serial No & URL</a>
            <a class="btn btn-primary"
               href="#" onclick="printexcel_single('<?php echo $this->cl_id; ?>','<? echo $studId ?>');">Generate Excel</a>

        </div>

    </div>

    <div class="form-group row">

        <div class="col-sm-3"></div>

        <div class="col-sm-8">

            <a class="btn btn-primary"
               href="/graduands/qr-management/gen-url-update/cl_id/<?php echo $this->cl_id; ?>" onclick="return validateUpdateUrl(<?php $this->cl_id; ?>);">Re-Generate URL</a>
            <span style="font: bold;color: #003eff" > ** If student ID changed in ICEMS, generate URL only.</span>


        </div>

    </div>

</form>