<?php echo $this->doctype(); ?>

<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">
<link rel="icon" href="/graduands/public/images/oum.png">

    <?php
    $layout = $this->layout();
    $layout->disableLayout();

    $this->headLink()
        ->appendStylesheet('/graduands/public/css/bootstrap.css')
        ->appendStylesheet('/graduands/public/css/bootstrap-theme.css')
        ->appendStylesheet('/graduands/public/css/jumbotron-narrow.css')
        ->appendStylesheet('/graduands/public/plugins/bootstrapValidator/css/bootstrapValidator.min.css')
        ->appendStylesheet('/graduands/public/css/customs.css')
        //->appendStylesheet('/graduands/public/css/sweetalert2.css')
        ->appendStylesheet('/graduands/public/css/jquery-ui.css');
    $this->headTitle($this->title);

    echo $this->headLink() . "\n" . $this->headTitle() . "\n";

    $this->headScript()
        //->appendFile('/graduands/public/js/jquery-1.10.2.js')
        ->appendFile('/graduands/public/js/jquery-1.12.4.js')
        ->appendFile('/graduands/public/js/jquery-ui.js')
        ->appendFile('/graduands/public/js/bootstrap.min.js')
        ->appendFile('/graduands/public/plugins/bootstrapValidator/js/bootstrapValidator.min.js');
    echo $this->headScript();

    ?>

</head>



<script type="text/javascript">

    let sirimdate = '';

    $(document).ready(function () {

        $("#dialog-updatedate").dialog({
            position: 'center',
            title: 'Update Date Submit to Sirim',
            /*show: 'scale',*/
            width: 600,
            height: 200,
            position: {
                my: "center",
                at: "center",
                of: window
            },
            modal: true,
            autoOpen:false,
            open: function (event, ui) {
                $('#dialog-updatedate').css('overflow', 'hidden'); //this line does the actual hiding
            },
            buttons: {
                "Close": function() {
                    $('#dialog-updatedate').dialog( "close" );
                }
            }
        });
        //$("#e_send_date").datepicker();
        $("#e_send_date").datepicker({
            dateFormat: 'dd-mm-yy',
            autoOpen: false,
            onSelect: function(dateText, inst) { sirimdate = dateText; }
        });

        $("#e_send_date").datepicker().datepicker("setDate", new Date());
        let dateTypeVar = $('#e_send_date').datepicker('getDate');
        $.datepicker.formatDate('dd-mm-yy', dateTypeVar);
        

    });

    function viewList() {

        var senate_date = $("#senate_date").val();
        var program = $("#program").val();
        var studIc = $("#studIc").val();
        var degree = $("#degree").val();

        if(senate_date==""){
            alert ("Please select senate date");

            return false;
        }

        var my_data = {
            "senate_date":senate_date,
            "program":program,
            "studIc":studIc,
            "degree":degree
        };

            $.ajax({
                type: "post",
                async: false,
                url: "/graduands/qr-management/index",
                dataType: "html",
                data: my_data,
                success: function (data) {

                   // alert("Record successfully updated.");
                   // window.location = "/graduands/updateinfo";
                }

            });
    }

    function generateURL() {
        //var sem = $("#sem").val();
        var senate_date = $("#senate_date").val();
        var program = $("#program").val();
        var studIc = $("#studIc").val();
        var degree = $("#degree").val();

        //var returnVal = false;

        if(senate_date==""){
            alert ("Please select senate date");
            return false;
        }

        var my_data = {
            "senate_date":senate_date,
            "program":program,
            "degree" : degree,
            "studIc":studIc

        };

        var msgOk = "Are you sure to Generate the URL link for selected parameter?";
        if ( confirm(msgOk) ) {

            $.ajax({
                type: "post",
                async: false,
                //url: "/graduands/qr-management/update",
                url:"/graduands/qr-management/gen-url",
                dataType: "json",
                data: my_data,
                //processData: false,
                //contentType: false,
                success: function (data) {

                    let response = eval(data);

                    if (response[0].result == "success") {

                        alert("URL link successfully updated.");
                        location.reload();

                    } else {
                        alert("Failed to save");
                    }

                }

            });
        }else{
                return false;
        }
        //return false;
    }

    function generateSerial() {
        //var sem = $("#sem").val();
        var senate_date = $("#senate_date").val();
        var program = $("#program").val();
        var studIc = $("#studIc").val();
        var degree = $("#degree").val();

        //var returnVal = false;

        if(senate_date==""){
            alert ("Please select senate date");
            return false;
        }

        var my_data = {
            "senate_date":senate_date,
            "program":program,
            "degree" : degree,
            "studIc":studIc

        };

        var msgOk = "Are you sure to Generate Serial Number for selected parameter?";
        if ( confirm(msgOk) ) {

            $.ajax({
                type: "post",
                async: false,
                //url: "/graduands/qr-management/update",
                url:"/graduands/qr-management/gen-serial",
                dataType: "html",
                data: my_data,
                //processData: false,
                //contentType: false,
                success: function (data) {

                    let response = eval(data);

                    if (response[0].result == "success") {
                        alert("Serial Number successfully updated.");
                        //location.reload;

                    } else {
                        alert("Failed to save");
                    }

                }

            });
        }else{
            return false;
        }

    }


    function printexcel()
    {
        var senate_date = $("#senate_date").val();
        var program = $("#program").val();
        var studIc = $("#studIc").val();
        var degree = $("#degree").val();
       // alert(senate_date);

        if(senate_date==""){
            alert ("Please select senate date");
            return false;
        }
        var my_datae = {
            "senate_date":senate_date
        };

        if (confirm('Are you sure to generate the excel file ?') == true)
        {
            var url = "/graduands/qr-management/generate-excel/senate_date/"+senate_date+"/program/"+program+"/degree/"+degree+"/studIc/"+studIc ;
            window.open(url);


        }
        else
        {
            return false;
        }
    }

    function validate(action,form) {

        var senate_date = $("#senate_date").val();
        var program = $("program").val();
        var studIc = $("studIc").val();
        var degree = $("degree").val();

        if(senate_date==""){
            alert ("Please select senate date");
            return false;
        }
        else {
            if (action == 'gen-url') {
                return confirm('Are you sure to Generate the URL link for selected parameter?');
            }

            if(action == 'gen-serial'){
                return confirm('Are you sure to Generate Serial Number for selected parameter?');
            }

            if(action == 'update-date'){
                return confirm('Are you sure to update submit date to SIRIM?');
            }

            if(action == 'print-excel'){
                printexcel(senate_date,degree,program,studIc);
            }
        }
    }


    function getProgram(param) {

        var senate_date = param;

        if(senate_date==""){
            alert ("Please select senate date");
            return false;
        }

        var my_data = {
            "senate_date":senate_date
        };


        $.ajax({
            type: "post",
            async: false,
            url: "/graduands/qr-management/ajax-program-list",
            dataType: "json",
            data: my_data,
            success: function (data) {

                //console.log(data);

                let response = eval(data);
                var prog = document.getElementById('program');
                prog.options.length = 0;
                prog.options[0]=new Option('ALL','');

                for(var i=0; i<response.length; i++){
                    prog.options[i+1]=new Option(response[i].PROG_DESC,response[i].PROG_ID);
                }

            }

        });

    }


    function getDegree(date,prog) {

        var senate_date = date;
        var prog = prog;


        var my_data = {
            "senate_date":senate_date,
            "programid":prog
        };


        $.ajax({
            type: "post",
            async: false,
            url: "/graduands/qr-management/ajax-degree-list",
            dataType: "json",
            data: my_data,
            success: function (data) {

               // console.log(data);

                let response = eval(data);
                var degree = document.getElementById('degree');
                degree.options.length = 0;
                degree.options[0]=new Option('ALL','');

                for(var i=0; i<response.length; i++){
                    degree.options[i+1]=new Option(response[i].DEGREE_ID+" - "+response[i].DEGREE_DESC_LONG,response[i].DEGREE_ID);
                }

            }

        });

    }

    function edit_setup(cl_id) {
        $("#dialog-editscrollinfo").dialog({
            position: 'center',
            title: 'Edit Scroll Information',
            /*show: 'scale',*/
            width: 750,
            height: 450,
            position: {
                my: "center",
                at: "center",
                of: window
            },
            modal: true,
            autoOpen:false,
            open: function (event, ui) {
                $('#dialog-editscrollinfo').css('overflow', 'hidden'); //this line does the actual hiding
            },
            buttons: {

                "Close": function() {
                    $( this ).dialog( "close" );
                }
            }
        });

        $('#dialog-editscrollinfo').load("/graduands/qr-management/edit-scroll-info/cl_id/"+cl_id);
        $('#dialog-editscrollinfo').dialog('open');
    }

    function validateUpdateSn(cl_id) {
        var url = "/graduands/qr-management/gen-serial-update/cl_id/"+cl_id;

        var msg = 'Are you sure to generate New Serial Number? ';

        if (confirm(msg)){
            $.ajax({
                type: "POST",
                url: url,
                data: $("#frm_update").serialize(),
                //data: my_data,// serializes the form's elements.
                success: function(data)
                {

                   let response = eval(data);//alert(response);
                    if (response[0].resultid != "0") {
                        alert("New Serial Number Successfully Updated!");

                        document.getElementById("e_snNo").value = response[0].resultid;
                        //location.reload();
                    } else {
                        alert("Failed to update!");
                    }
                }
            });
        }
        return false; // avoid to execute the actual submit of the form.
    }

    function validateUpdateUrl(cl_id) {
        var url = "/graduands/qr-management/gen-url-update/cl_id/"+cl_id;

        var msg = 'Are you sure to generate New Url Link? ';

        if (confirm(msg)){
            $.ajax({
                type: "POST",
                url: url,
                data: $("#frm_update").serialize(),

                success: function(data)
                {

                    let response = eval(data);//alert(response);
                    if (response[0].resultid != "0") {
                        alert("New URL link Successfully Updated!");
                        //location.reload();
                    } else {
                        alert("Failed to update!");
                    }
                }
            });
        }
        return false; // avoid to execute the actual submit of the form.
    }


    function printexcel_single(cl_id,studId)
    {

        if (confirm('Are you sure to generate the excel file ?') == true)
        {
            var url = "/graduands/qr-management/generate-excel-single/cl_id/"+cl_id+"/studId/"+studId ;
            window.open(url);


        }
        else
        {
            return false;
        }
    }

    function update_date() {

        var senate_date = $("#senate_date").val();
        var program = $("#program").val();
        var studIc = $("#studIc").val();
        var degree = $("#degree").val();

       // $('#dialog-updatedate').load("/graduands/qr-management/date-screen/senate_date/"+senate_date+"/program/"+program+"/degree/"+degree+"/studIc/"+studIc);
        $('#dialog-updatedate').dialog('open');


    }

    function validateUpdateDate(senate_date,program,degree,studIc) {

        let url = "/graduands/qr-management/update-date/senate_date/"+senate_date+"/program/"+program+"/degree/"+degree+"/studIc/"+studIc;

        let msg = 'Are you sure to update Submitted date to SIRIM? ';

        var my_data = {
            "date":sirimdate,
        };

        if (confirm(msg)){
            $.ajax({
                type: "POST",
                url: url,
                dataType: "html",
                data: $("#frm_updatedate").serialize(),
                data: my_data,// serializes the form's elements.
                success: function(data)
                {

                     let response = eval(data);//alert(response);
                    console.log(data);
                     if (response[0].result == "success") {
                         alert("Submitted Date Successfully Updated!");
                         location.reload();
                     } else {
                         alert("Failed to update!");
                     }
                }
            });
        }
        return false; // avoid to execute the actual submit of the form.
    }


</script>
    </html>

<!--<div class="container-md">
    <img src="/graduands/public/images/oumlogo.png">-->
<div class="container-fluid">
<div class="panel panel-primary">
    <div>
        <img src="/graduands/public/images/oumlogo.png">
    </div>

    <div class="panel-heading">
        <h3 class="panel-title"><? echo $this->title?></h3>
    </div>

    <div class="panel-body" >

        <form id="searchform" action="" method="post" class="form-horizontal" role="form">

            <div class="form-group row">
                <div class="col-sm-2"></div>
                <label class="col-sm-2 col-form-label" >Senate Date</label>
                <div class="col-sm-6">
                    <select class="form-control input-sm m-bot15" id="senate_date"
                            name="senate_date" onchange="getProgram(this.value);">
                        <option value=""><?php echo $this->translate("-- Please Select --")?></option>
                        <?php foreach ($this->getDateList as $list) {
                            if ($this->senate_date != "" && $this->senate_date == $list["CL_SENATE_DATE"] ){?>
                                <option value="<?php echo $list["CL_SENATE_DATE"]?>" selected><?php echo $list["SENATE_DATE"]?></option>
                            <?php }else{ ?>
                                <option value="<?php echo $list["CL_SENATE_DATE"]?>"><?php echo $list["SENATE_DATE"]?></option>
                            <? }
                        }?>
                    </select>
                </div>
                <div class="col-sm-2"></div>
            </div>

            <div class="form-group row">
                <div class="col-sm-2"></div>
                <label class="col-sm-2 col-form-label">Programme</label>
                <div class="col-sm-6" id = "div_program">
                    <select class="form-control input-sm m-bot15" id="program"
                            name="program" onchange="getDegree($('#senate_date').val(),this.value);">
                        <option value="ALL"><?php echo $this->translate("ALL")?></option>
                        <?php

                        foreach ($this->getProgramList as $prog) {
                            if ($this->progid != "" && $this->progid == $prog["PROG_ID"] ){?>
                                <option value="<?php echo $prog["PROG_ID"]?>" selected><?php echo $prog["PROG_DESC"]?></option>
                            <?php }else{ ?>
                                <option value="<?php echo $prog["PROG_ID"]?>"><?php echo $prog["PROG_DESC"]?></option>
                            <? }
                        }?>
                    </select>
                </div>
                <div class="col-sm-2"></div>
            </div>

            <div class="form-group row">
                <div class="col-sm-2"></div>
                <label class="col-sm-2 col-form-label">Degree</label>
                <div class="col-sm-6">
                    <select class="form-control input-sm m-bot15" id="degree"
                            name="degree">
                        <option value="ALL"><?php echo $this->translate("ALL")?></option>
                        <?php
                        foreach ($this->getDegreeList as $dlist) {
                            if ($this->degreeid != "" && $this->degreeid == $dlist["DEGREE_ID"] ){?>
                                <option value="<?php echo $dlist["DEGREE_ID"]?>" selected><?php echo $dlist["DEGREE_ID"]." - ".$dlist["DEGREE_DESC_LONG"]?></option>
                            <?php }else{ ?>
                                <option value="<?php echo $dlist["DEGREE_ID"]?>"><?php echo $dlist["DEGREE_ID"]." - ".$dlist["DEGREE_DESC_LONG"]?></option>
                          <? }
                        }?>

                    </select>
                </div>
                <div class="col-sm-2"></div>
            </div>

            <div class="form-group row">
                <div class="col-sm-2"></div>
                <label class="col-sm-2 col-form-label">Student IC No</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" id="studIc" name="studIc" value="<?php echo $this->studIc ?>">
                </div>
                <div class="col-sm-2"></div>
            </div>

            <div class="form-group row">
                <div class="col-sm-2"></div>
                <div class="col-sm-2"></div>
                <div class="col-sm-6">
                    <input id="viewlink" style="" type="submit"
                           class="btn btn-primary" value="(1) View List" name="submit"
                           onclick="return viewList();">

                   <!-- <a class="btn btn-primary"
                       href="/graduands/qr-management/gen-serial/senate_date/<?php /*echo $this->senate_date; */?>/degree/<?php /*echo $this->degreeid; */?>/studIc/<?php /*echo $this->studIc; */?>/program/<?php /*echo $this->progid; */?>" onclick="return validate('gen-serial',this);">(2) Generate Serial No</a>-->

                 <!-- <a class="btn btn-primary"
                       href="/graduands/qr-management/gen-url/senate_date/<?php /*echo $this->senate_date; */?>/degree/<?php /*echo $this->degreeid; */?>/studIc/<?php /*echo $this->studIc; */?>/program/<?php /*echo $this->progid; */?>" onclick="return validate('gen-url',this);">(3) Generate URL</a>-->

                    <a class="btn btn-primary"
                       href="" onclick="generateSerial();">(2) Generate Serial No</a>

                    <a class="btn btn-primary"
                       href="" onclick ="generateURL();">(3) Generate URL</a>

                    <a class="btn btn-primary"
                       href="" onclick="return validate('print-excel',this);">(4) Generate Excel</a>

                    <a class="btn btn-primary" href="#" onclick="javascript:update_date()">(5) Update Date</a>

                    <!--<a class="btn btn-primary"
                       href="/graduands/qr-management/update-date/senate_date/<?php /*echo $this->senate_date; */?>/degree/<?php /*echo $this->degreeid; */?>/studIc/<?php /*echo $this->studIc; */?>/program/<?php /*echo $this->progid; */?>" onclick="return validate('update-date',this);">(5) xxxx</a>
-->
                </div>
                <div class="col-sm-2"></div>
            </div>


            </div>
        </form>
    <div class="form-group">

        <div id="msg" ><span style="color: #761c19;background: #ce8483;"><?php if ($this->status == "success_url"){?><b>**URL LINK SUCCESSFULLY GENERATED.</b><?}elseif ($this->status == "success_sn"){?> <b>**SERIAL NUMBER SUCCESSFULLY GENERATED.</b><?}elseif ($this->status == "success_dt"){?> <b>**SUBMIT DATE SUCCESSFULLY GENERATED.</b><?}?></span></div>
        <?  if($this->senate_date){
            $newDate = (date("Y-m-d", strtotime($this->senate_date)));
        }else {$newDate = ''; };
       ?>
    </div>
    <div class="form-group"><b>Total Graduan for <?php echo $newDate ?> : <? echo sizeof($this->convoList); ?></b></div>
<div id="graduanlist">
        <table class="table">
            <thead class="thead-dark">
            <tr>
                <th scope="col">No</th>
                <th scope="col">Student ID</th>
                <th scope="col">Student IC</th>
                <th scope="col">Name</th>
                <th scope="col">Program</th>
                <th scope="col">Degree</th>
                <th scope="col">Senate Date</th>
                <th scope="col">Serial No</th>
                <th scope="col">URL Generated?</th>
                <th scope="col">Sirim Update</th>
            </tr>
            </thead>
        <?
          if(sizeof($this->convoList) == 0) {?>
            <tr><td colspan="4">No Records Found.</td></tr>

            <?}else{
        $i = 1;
        foreach ($this->convoList as $convolist){ ?>
                <tbody>
                    <tr>
                        <td><? echo $i ?>.</td>
                        <td><a class="bajax" href="#" onclick="javascript:edit_setup(<?php echo $convolist['CL_ID'];?>)"><? echo $convolist['STUD_ID'] ?></a>&nbsp;&nbsp;</td>
                        <td><? echo $convolist['STUD_IC_CUR'] ?>&nbsp;&nbsp;</td>
                        <td><? echo $convolist['STUD_NAME'] ?></td>
                        <td><? echo $convolist['STUD_PROGRAM'] ?></td>
                        <td><? echo $convolist['STUD_DEGREE'] ?></td>
                        <td><? echo $convolist['SENATE_DATE'] ?></td>
                        <td><? echo $convolist['CL_SCROLL_SERIAL'] ?></td>
                        <td><? echo $convolist['SCROLL_URL_STS'] ?></td>
                        <td><? echo $convolist['CL_SEND_DATE'] ?></td>
                    </tr>
                </tbody>
       <? $i++;

       }
} ?>
        </table>
</div>

    </div>

</div>
</div>

<div id="dialog-editscrollinfo" class="modal-title" title="Edit Scroll Information" style="padding:0; margin:0;background-color:white;" ></div>

<div id="dialog-updatedate" class="modal-title" title="Update Date Submit to Sirim" style="padding:0; margin:0;background-color:white;" >
    <br>
    <form method="POST" id="frm_updatedate" name="frm_updatedate" action="">


        <div class="form-group row">
            <div class="col-sm-1"></div>
            <label class="col-sm-3 col-form-label">Date Submit to SIRIM</label>

                <input type="text" class="datepicker ui-icon-calendar" id="e_send_date" name="e_send_date"  />

            <a class="btn btn-primary"
               href="#" onclick="return validateUpdateDate('<?php echo $this->senate_date; ?>','<?php echo $this->progid; ?>','<?php echo $this->degreeid; ?>','<?php echo $this->studIc; ?>');">Update Date</a>
        </div>




    </form>
</div>
<?php

?>
</html>




                <!--<label class="control-label col-md-4">Push button to update QR link</label>-->

