<div class="footer">
    <p>&copy; OUM 2014 - <?php echo date('Y') ?>, All Rights Reserved</p>
</div>
<?php
$this->headScript()
        ->appendFile('/graduands/public/js/jquery-1.10.2.js')
        ->appendFile('/graduands/public/js/bootstrap.min.js')
        ->appendFile('/graduands/public/plugins/bootstrapValidator/js/bootstrapValidator.min.js');
       // ->appendFile('/graduands/public/js/customs.js');

echo $this->headScript();
?>