<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">
<link rel="icon" href="/graduands/public/images/oum.png">
<?php
$this->headLink()
        ->appendStylesheet('/graduands/public/css/bootstrap.css')
        ->appendStylesheet('/graduands/public/css/bootstrap-theme.css')
        ->appendStylesheet('/graduands/public/css/jumbotron-narrow.css')
        ->appendStylesheet('/graduands/public/plugins/bootstrapValidator/css/bootstrapValidator.min.css')
        ->appendStylesheet('/graduands/public/css/customs.css');
$this->headTitle($this->title);
echo $this->headLink() . "\n" . $this->headTitle() . "\n";
