<?php echo $this->doctype(); ?>
<html lang="en">
    <head>
        <?php echo $this->render('/include/header.phtml'); ?>
    </head>
    <body>
        <div class="container">
            <div class="header clearfix">
                <nav class="pull-right">
                    <h1 class="text-muted">OUM Graduates</h1>
                </nav>
                <img src="/graduands/public/images/oumlogo.png">

            </div>
            <div class="row marketing">
                <?php echo $this->layout()->content; ?>
            </div>
            <?php echo $this->render('/include/footer.phtml'); ?>

        </div> <!-- /container -->
    </body>
</html>